<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black">
            <div class="brand-logo">
                <a href="#">
                    <i style="padding-left:15px;" class="material-icons">menu</i>
                </a>
                <a href="#" class="hide-on-small-only">
                    <img src="/app/images/Shala_logo.jpg?v=1" style="max-height: 64px; width: auto;"/>
                </a>
            </div>
            <ul class="right">
                <li>
                    <form>
                        <div class="input-field">
                            <input id="search" style="height: 64px!important;" type="search" required>
                            <label for="search">
                                <i class="material-icons">search</i>
                            </label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">file_upload</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">notifications</i>
                    </a>                    
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">notifications_none</i>
                    </a>                    
                </li>
                <li>
                    <a href="#">
                        <img class="responsive-img circle" style="max-height: 64px; width: auto;" src="/app/uploads/me.jpg">
                    </a>
                </li>   
                <li>
                    <a class="waves-effect waves-light btn">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
</div>